/* Brennende Schrift mithilfe von text shadow + keyframe fire */
h1 {
  font: 100px bold "Franklin Gothic Medium";
  color: black;
  animation: fire 0.8s infinite;
  margin-left: 200px;
  margin-top: 40px;
}

@keyframes fire {
  0% {
    text-shadow: 0 0 2px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
      -2px -15px 11px #f80, -2px -25px 18px #f20;
  }
  25% {
    text-shadow: 0 0 3px white, 1px -6px 5px #ff3, 1px -11px 7px #fd3,
      -2px -16px 13px #f80, -0px -26px 20px #f20;
  }
  50% {
    text-shadow: 0 0 3px white, -1px -4px 6px #ff3, 0px -12px 6px #fd3,
      -3px -16px 15px #f80, -1px -28px 22px #f20;
  }
  75% {
    text-shadow: 0 0 2px white, 1px -7px 4px #ff3, 1px -11px 8px #fd3,
      -1px -14px 12px #f80, -2px -25px 21px #f20;
  }
  100% {
    text-shadow: 0 0 2px white, 0 -5px 4px #ff3, 2px -10px 6px #fd3,
      -2px -15px 11px #f80, -2px -25px 18px #f20;
  }
}

/* ############################### HEADER ############################### */

header {
  padding: 20px;
  background-color: #b4b4b4;
}

/* ################## NAVIGATION ##################*/

nav {
  display: flex;
  justify-content: left;
  background-color: #7b7b7b;
  padding: 10px;
  margin-left: 200px;
  margin-top: 40px;
}

nav a {
  color: rgb(90, 19, 19);
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: rgb(159, 26, 26);
  text-decoration: underline;
  transform: scale(1.1);
}

/* ######################## MAIN ######################## */
main {
  padding-top: 120px;
  min-height: 400px;
  background-color: rgb(159, 26, 26);
  background-image: url("../images/backgrounds/main_background_galaxy.jpg");
  background-size: cover;
  background-attachment: fixed;
}

section {
  margin: 20px 120px 20px 120px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

/* ######################## FOOTER ######################## */
footer {
  padding: 20px;
  background-color: #1a1a1a;
  text-align: center;
  color: #ffffff;
}
