body {
  background-image: url(../Primer/images/backgrounds/winlinux.jpg);
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: top center;
}

.window {
  background-color: rgb(192, 192, 192);
  position: absolute;
  width: 500px;
  height: 180px;
  margin: 60px 0px 0px 50px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #777777;
  border-bottom: 3px solid #5a5858;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
  z-index: 1;
}

.window2 {
  background-color: rgb(192, 192, 192);
  position: absolute;
  width: 500px;
  height: 180px;
  margin: 70px 0px 0px 100px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #777777;
  border-bottom: 3px solid #5a5858;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
  z-index: 50;
}

.window3 {
  background-color: rgb(192, 192, 192);
  position: absolute;
  width: 500px;
  height: 180px;
  margin: 80px 0px 0px 150px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #777777;
  border-bottom: 3px solid #5a5858;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.window4 {
  background-color: rgb(192, 192, 192);
  position: absolute;
  width: 500px;
  height: 180px;
  margin: 90px 0px 0px 200px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #777777;
  border-bottom: 3px solid #5a5858;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.window5 {
  background-color: rgb(192, 192, 192);
  position: absolute;
  width: 500px;
  height: 180px;
  margin: 100px 0px 0px 250px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #777777;
  border-bottom: 3px solid #5a5858;
  border-radius: 7px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.26);
  z-index: 100;
}

.content_header {
  background-image: linear-gradient(
    60deg,
    hsl(240deg 100% 20%) 0%,
    hsl(226deg 100% 25%) 8%,
    hsl(219deg 100% 29%) 17%,
    hsl(214deg 100% 33%) 25%,
    hsl(210deg 100% 37%) 33%,
    hsl(206deg 100% 39%) 42%,
    hsl(202deg 100% 42%) 50%,
    hsl(199deg 100% 44%) 58%,
    hsl(195deg 100% 45%) 67%,
    hsl(190deg 100% 46%) 75%,
    hsl(186deg 100% 47%) 83%,
    hsl(182deg 100% 48%) 92%,
    hsl(178deg 100% 50%) 100%
  );
  padding: 10px;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
}
.content_header span {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.icon img {
  width: 50px;
  height: 50px;
  float: left;
  padding: 10px;
  margin-left: 15px;
}

.error_message {
  color: rgb(54, 54, 54);
  font-weight: bold;
  margin-left: 10px;
  padding: 10px;
}
.cancel_button {
  color: rgb(192, 192, 192);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: right;
}

button {
  background-color: rgb(192, 192, 192);
  padding: 10px 10px;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-right: 3px solid #777777;
  border-bottom: 3px solid #5a5858;
  border-radius: 0px;
  cursor: pointer;
  margin-top: -20px;
}
